body{
  margin: 0;
}
.background{
  width: 100vw;  
  height: 100vh;  
  background-image: url("images/background.png");
  background-repeat:no-repeat;  
  background-size:cover;  
  position: absolute;  
  opacity: 0.8;  
  z-index: -1;  
}
.navigation-bar {  
  background-color: #2F2E2D;  
  overflow: hidden;  
  position: fixed;  
  top: 0;  
  left: 0;  
  width: 100%;  
  height: 7vh;
  z-index: 100;
}  
/* logo样式 */ 
.logo { 
  position: fixed;  
  top: 1.5vh;
  left: 1vw;
  width: 150px;
  height: 30px;
}  
/* 导航链接样式 */  
.navigation-bar a {   
  display: inline-block;  
  margin-left: 3%;  /* 调整按键之间的左侧距离 */  
  padding: 14px;  /* 调整按键的内边距 */  
  color: #f2f2f2;  
  text-align: center;  
  text-decoration: none;  
}  
/* 鼠标悬停在链接上时的样式 */  
.navigation-bar a:hover {  
  background-color: #ddd;  
  color: black;  
} 
#page1{
  position: fixed;
  top: 0;
  left: 10%;
} 
#page2{
  position: fixed;
  top: 0;
  left: 16%;
} 
#page3{
  position: fixed;
  top: 0;
  left: 22%;
} 
.search-photo{ 
  position: fixed;  
  top: 1%;
  left: 89%;
  height: 30px;
}
.line{ 
  position: fixed;  
  top: 1%;
  left: 92%;
  height: 30px;
}
.head-photo{ 
  position: fixed;  
  top: 1%;
  left: 93%;
  height: 30px;
}
/* 图片样式 */  
#big-logo {
  position:absolute;
  top: 15%;
  left: 35%;
  width: 450px;
  height: 70px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.search-box {
  display: flex;
  position:absolute;
  top: 40%;
  left: 30%;
  width: 650px;
  height: 30px;
  line-height: 30px;
}

.search-box input{
  flex: 1;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;;
  background-color:rgba(255,255,255,0.6);
}
.search-box button{
  height: 50px;
  line-height: 30px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 20px;
}

.navigation-bar .items{
position: relative;  
top: 10px;
left: 1080px;
height: 30px;
}