<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kary.karyplugin.dao.RecordMapper">
    <insert id="addNewRecord">
        insert into record(game_id,
                           username,
                           kill,
                           death,
                           assist
        )
        values (
                #{game_id},
                #{username},
                #{kill},
                #{death},
                #{assist}
        )
    </insert>
    <select id="getScoreTotal" resultType="int">
        select
            <if test="gameMode == 1">
                score_total_1v1
            </if>
            <if test="gameMode == 2">
                score_total_brawl
            </if>
        from user where username=#{username}
    </select>
    <update id="addScore">
        update user set
        <if test="gameMode == 1">
            score_total_1v1=score_total_1v1+#{addNum}
        </if>
        <if test="gameMode == 2">
            score_total_brawl=score_total_brawl+#{addNum}
        </if>
        where username=#{username}
    </update>
    <select id="selectUserByName" resultType="com.kary.karyplugin.pojo.User" parameterType="string">
        select * from user where username=#{username}
    </select>
</mapper>
