<!-- 
页面作者： 小言u
小言u博客 3.3123.ws
允许你进行使用，但必须保留此处版权信息！ 
GITHUB：https://github.com/xiaoyanu/Product-price-list
-->
<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<title>乐云 - 比赛列表</title>
		<link rel="icon" href="ico.png"/>
		<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" th:href="@{info/list-vps.css}"/>
		<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
	</head>

	<body id="indexBody">
	<div class="right menu">
		<a class="item" th:href="@{/toLogin}">
			<i class="address card icon"></i> 登录和注册
		</a>
	</div>

		<div id="headr">
			<a th:href="@{/user/toChangeAvatar}">
			<img th:src="${myAccountAvatar}" height="50">
			</a>
			<span id="title">
				比赛列表
			</span>
		</div>
		<div id="home">
			<table border="0"/>
				<tr>
					<th>时间</th>
					<th>击杀</th>
					<th>死亡</th>
					<th>助攻</th>
					<th>KD</th>
					<th>游戏时长</th>
					<th>比赛模式</th>
				</tr>
				<tr class="h" th:each="record:${records}">
					<td th:text="${record.gameTime}"></td>
					<td th:text="${record.kills}"></td>
					<td th:text="${record.deaths}"></td>
					<td th:text="${record.assists}"></td>
					<td th:text="${record.kd}"></td>
					<td th:text="${record.duration}"></td>
					<td th:text="${record.type}"></td>
				</tr>

			</table>

		</div>

		<div>
			<form th:action="@{/ranks/getMyRank/1}">
				<button id="info" type="submit">查看详细比赛记录</button>
			</form>
		</div>
		<div id="footer">
				Copyright &copy;2021 乐云 All rights Reserved.
		</div>
	</body>
</html>
