<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kary.hahaha3.mapper.RecordMapper">
    <select id="selectGameById" parameterType="int" resultType="com.kary.hahaha3.pojo.Record">
        select * from record where game_id=#{gameId}
    </select>
</mapper>
