<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kary.hahaha3.mapper.ThemeMapper">
    <insert id="publishTheme">
        insert into theme (theme_name,
                           description,
                           article_count,
                           follower_count,
                           articles_id)
        values (#{themeName},"",0,0,"")
    </insert>
    <update id="changeDescription">
        update theme set descrption=#{description}
                     where theme_name=#{themeName}
    </update>
    <update id="publishArticle">
        update theme set article_count=article_count+1,
                         articles_id=concat(articles_id,concat(#{newArticleId},","))
        where theme_name=#{themeName}
    </update>
    <update id="followTheme">
        update theme set follower_count=follower_count+1
        where theme_name=#{themeName}
    </update>
    <select id="getThemeByName" resultType="com.kary.hahaha3.pojo.Theme">
        select * from theme where theme_name=#{themeName}
    </select>
    <select id="getAllThemeByPage" resultType="com.kary.hahaha3.pojo.Theme">
        select * from theme limit #{page},64
    </select>

</mapper>
