<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kary.hahaha3.mapper.UserMapper">
    <select id="selectUserByName" resultType="com.kary.hahaha3.pojo.User" parameterType="string">
        select * from user where username=#{username}
    </select>
    <insert id="insertUser">
        insert into user (username,pwd,score_total,email,regdate,game_count,game_id) values (#{username},#{pwd},0,#{email},now(),0,"");
    </insert>
    <select id="selectUserLimit" resultType="com.kary.hahaha3.pojo.User" parameterType="_int">
        select * from user order by username limit 3 offset #{x}
    </select>
    <update id="updateUserPassword">
        update user set pwd=#{pwd} where username=#{username}
    </update>
    <select id="selectGameIdByName">
        select game_id from user where username=#{username}
    </select>
</mapper>
