<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kary.hahaha3.mapper.UserGameMapper">
    <insert id="insertUser">
        insert into user_game (username,
                               score_total_1v1,
                               games_count,
                               score_total_brawl
        )values (#{username},0,0,0)
    </insert>
    <delete id="deleteUser">
        delete from user_game where username=#{username}
    </delete>
    <select id="getScoreByType" resultType="int">
        select
            <if test="type==1">
                score_total_1v1
            </if>
            <if test="type==2">
                score_total_brawl
            </if>
        from user_game where username=#{username}
    </select>

</mapper>
