<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kary.hahaha3.mapper.UserGameMapper">
    <insert id="insertUser">
        insert into user_game (username,
                               score_total_1v1,
                               games_count,
                               score_total_brawl,
                               games_count_1v1,
                               games_count_brawl,
                               portrait,
                               max_score_1v1,
                               max_score_brawl,
                               on_match
        )values (#{username},0,0,0,0,0,0,0,0,0)
    </insert>
    <update id="updatePortrait">
        update user_game set portrait=#{portrait} where username=#{username}
    </update>
    <delete id="deleteUser">
        delete from user_game where username=#{username}
    </delete>
    <select id="getPortrait" resultType="int">
        select portrait from user_game where username=#{username}
    </select>
    <select id="getScoreByType" resultType="int">
        select
            <if test="type==1">
                score_total_1v1
            </if>
            <if test="type==2">
                score_total_brawl
            </if>
        from user_game where username=#{username}
    </select>
    <update id="addScore">
        update user_game set
            <if test="type==1">
                score_total_1v1=score_total_1v1+#{addScore}
            </if>
            <if test="type==2">
                score_total_brawl=score_total_brawl+#{addScore}
            </if>
        where username=#{username}
    </update>
    <update id="updateMaxScore">
        update user_game set
            <if test="type==1">
                max_score_1v1=score_total_1v1
            </if>
            <if test="type==2">
                max_score_brawl=score_total_brawl
            </if>
        where username=#{username}
    </update>
    <select id="getUserGame" resultType="com.kary.hahaha3.pojo.UserGame">
        select * from user_game where username=#{username}
    </select>
    <select id="getAllUserOrder1v1" resultType="com.kary.hahaha3.pojo.UserGame">
        select * from user_game order by score_total_1v1 desc
    </select>
    <select id="getAllUserOrderBrawl" resultType="com.kary.hahaha3.pojo.UserGame">
        select * from user_game order by score_total_brawl desc
    </select>
    <select id="getAllUserOrderTotalScore" resultType="com.kary.hahaha3.pojo.UserGame">
        select * from user_game order by score_total_1v1+score_total_brawl desc
    </select>
</mapper>
