body {
  margin: 0;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}

#Rectangle {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 90vw;
  height: 85vh;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  text-align: center;
  padding: 20px;
}

.button1 {
  display: inline-block;
  padding: 10px 18px;
  color: black;
  /* 按钮的文本颜色 */
  text-decoration: none;
  border-radius: 4px;
  /* 按钮的圆角 */
  position: absolute;
  top: 3%;
  left: 75%;
}

.button1:hover {
  background-color: #aab300;
  /* 鼠标悬停时的背景颜色 */
}

.button2 {
  display: inline-block;
  padding: 10px 18px;
  color: black;
  /* 按钮的文本颜色 */
  text-decoration: none;
  border-radius: 4px;
  /* 按钮的圆角 */
  position: absolute;
  top: 3%;
  left: 82%;
}

.button2:hover {
  background-color: #aab300;
  /* 鼠标悬停时的背景颜色 */
}

.HorizontalLine {
  position: absolute;
  top: 8%;
  /* 这些百分比可以根据您的需要进行调整 */
  width: 100%;
  left: 0;
  text-align: center;
}

#Rectangle1 {
  position: absolute;
  left: 3%;
  top: 11%;
  width: 55%;
  height: 20%;
  background-color: #ffffff;
  border: none;
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}

.Head0 {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 70px;
  height: 80px;
}

.ID {
  position: absolute;
  top: 45%;
  left: 23%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: black;
}
#rankPhoto{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 123px;
  height: 153px;
}
.Rank {
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
}

#Rectangle2 {
  position: absolute;
  left: 3%;
  top: 38%;
  width: 55%;
  height: 25%;
  background-color: #ffffff;
  border: none;
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}

.all {
  position: absolute;
  top: 10%;
  left: 6%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: black;
}

.month {
  position: absolute;
  top: 10%;
  left: 56%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: black;
}

.table1 {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 45%;
  height: 80%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table1 td {
  padding: 18px;
  background-color: #fff;
  border: none;
}

.table1 td:nth-of-type(2) {
  font-size: 25px;
}

.table1 td:nth-of-type(4) {
  font-size: 25px;
}

.vertical-line {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 3px;
  height: 70%;
  background-color: #f2f2f2;
}

.table2 {
  position: absolute;
  top: 20%;
  left: 53%;
  width: 45%;
  height: 80%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table2 td {
  padding: 18px;
  background-color: #fff;
  border: none;
}

.table2 td:nth-of-type(2) {
  font-size: 25px;
}

.table2 td:nth-of-type(4) {
  font-size: 25px;
}

#Rectangle3 {
  position: absolute;
  left: 3%;
  top: 70%;
  width: 55%;
  height: 20%;
  background-color: #ffffff;
  border: none;
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}

.Report {
  position: absolute;
  top: 10%;
  left: 6%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: black;
}

table {
  position: absolute;
  top: 30%;
  left: 3%;
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 3px solid #f2f2f2;
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
}

#Rectangle4 {
  position: absolute;
  left: 70%;
  top: 11%;
  width: 25%;
  height: 80%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}

.Recent {
  position: absolute;
  top: 4%;
  left: 13%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: black;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ffffff;
  /* 按钮的背景颜色 */
  color: black;
  /* 按钮的文本颜色 */
  border: 1px solid #0056b3;
  text-decoration: none;
  border-radius: 8px;
  /* 按钮的圆角 */
  position: absolute;
  top: 2%;
  left: 70%;
}

.button:hover {
  background-color: #aab300;
  /* 鼠标悬停时的背景颜色 */
}
.table3 {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  flex-direction: column;
  border-collapse: collapse;
  overflow: auto;
  background-color: #A6CCEA;
}
.row {
  display: flex;
  align-items: center; /* 元素在垂直方向上居中 */
  justify-content: space-between; /* 元素水平方向上均匀分布 */
  border: 1px solid black;
  padding-left: 5%;
  padding-right: 5%;
}
.row img {
  width: 30px; /* 调整图片的宽度 */
  height: auto; /* 根据宽度调整高度 */
}

.row .result {
  font-size: 18px;
}
