body{
    margin: 0;
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
}
.navigation-bar {
    background-color: #2F2E2D;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    z-index: 100;
}
/* logo样式 */
.logo {
    position: fixed;
    top: 1.5vh;
    left: 1vw;
    width: 150px;
    height: 30px;
}
/* 导航链接样式 */
.navigation-bar a {
    display: inline-block;
    margin-left: 3%;  /* 调整按键之间的左侧距离 */
    padding: 14px;  /* 调整按键的内边距 */
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}
/* 鼠标悬停在链接上时的样式 */
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}
#page1{
    position: fixed;
    top: 0;
    left: 10%;
}
#page2{
    position: fixed;
    top: 0;
    left: 16%;
}
#page3{
    position: fixed;
    top: 0;
    left: 22%;
}
#Rectangle{
    position: absolute;
    left: 4vw;
    top: 7vh;
    width: 90vw;
    height: 89vh;
    background-color: #ffffff;
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px;
}
#Rectangle1{
    position: fixed;
    left: 4vw;
    top: 6vh;
    width: 90vw;
    height: 3vh;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.search-box {
    display: flex;
    position:fixed;
    top: 8vh;
    left: 20vw;
    width: 650px;
    height: 30px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 20px;
    border: 1px solid black;
}

.search-box input{
    width: 550px;
    height: 30px;
    flex: 1;
    font-size: 16px;
    outline: none;
    margin-left: 20px;
    background-color: rgba(255,255,255,0.0);
    border: none;
}
.search-box button{
    cursor: pointer;
    background-color: #f2f2f2;
    font-size: 20px;
    float: right;
    border: none;
    margin-right: 20px;
    background-color: rgba(255,255,255,0.0);
}
#forum-home{
    position: fixed;
    left: 6vw;
    top: 15vh;
    width: 5vw;
    padding: 8px;  /* 调整按键的内边距 */
    color: black;
    text-align: center;
    text-decoration: none;
}
#forum-home:hover{
    background-color: #f2f2f2;
}
#topics{
    position: fixed;
    left: 6vw;
    top: 20vh;
    width: 5vw;
    padding: 8px;  /* 调整按键的内边距 */
    color: black;
    text-align: center;
    text-decoration: none;
}
#topics:hover{
    background-color: #f2f2f2;
}
#latestTopics{
    position: fixed;
    left: 4vw;
    top: 23vh;
    width: 8vw;
    height: 10vh;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
}
#latestTopics ul{
    list-style-type: none;
}
#latestTopics h2{
    margin: 0;
    padding: 20px;
    float: left;
    font-size: 20px;
}
#latestTopics button{
    width: 6vw;
    padding: 8px;  /* 调整按键的内边距 */
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
}
#latestTopics button:hover{
    background-color: #f2f2f2;
}
#popularTopics{
    position: fixed;
    left: 4vw;
    top: 41vh;
    width: 8vw;
    height: 10vh;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
}
#popularTopics ul{
    list-style-type: none;
}
#popularTopics h2{
    margin: 0;
    padding: 20px;
    float: left;
    font-size: 20px;
}
#popularTopics button{
    width: 6vw;
    padding: 8px;  /* 调整按键的内边距 */
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
}
#popularTopics button:hover{
    background-color: #f2f2f2;
}


.vertical-line {
    position: fixed;
    left: 13vw;
    top: 13vh;
    width: 1px;
    height: 86vh;
    border-left: 1px solid #ddd;
}
#post-username{
    position: absolute;
    left: 12%;
    top: 8%;
}
#title{
    position: absolute;
    left: 12%;
    top: 15%;
    font-size: 30px;
}
#post-time{
    position: absolute;
    left: 12%;
    top: 12%;
    font-size: 14px;
}
#content{
    position: absolute;
    left: 12%;
    top: 20%;
}
#reply1{
    position: absolute;
    left: 10%;
    top: 50%;
    width: 70%;
    height: 15%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding: 20px;
}
#post1 p{
    font-size: 16px;
}
#like{
    position: absolute;
    left: 75%;
    top: 80%;
}
#reply{
    position: absolute;
    left: 80%;
    top: 80%;
}
#text{
    position: absolute;
    left: 5%;
    top: 35%;
}
#username{
    position: absolute;
    left: 5%;
    top: 5%;
}
#time{
    position: absolute;
    left: 5%;
    top: 20%;
    font-size: 14px;
}
#commentBox{
    position: fixed;
    left: 14vw;
    top: 94vh;
    width: 70vw;
    height: 2vh;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}
.comment{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.comment-box {
    display: flex;
    position:fixed;
    top: 94vh;
    left: 20vw;
    width: 450px;
    height: 30px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 20px;
    border: 1px solid black;
}
.comment-box input{
    width: 450px;
    height: 30px;
    flex: 1;
    font-size: 16px;
    outline: none;
    margin-left: 20px;
    background-color: rgba(255,255,255,0.0);
    border: none;
}
.comment-box button{
    cursor: pointer;
    background-color: #f2f2f2;
    font-size: 20px;
    float: right;
    border: none;
    margin-right: 20px;
    background-color: rgba(255,255,255,0.0);
}
#post-like{
    position: fixed;
    left: 70vw;
    top: 94vh;
}
#post-reply{
    position: fixed;
    left: 75vw;
    top: 94vh;
}
