body{
  margin: 0;
}
#Background{
  width: 100%;  
height: 100%;  
background-image: url("../images/background.png");  
background-repeat: no-repeat;  
background-size: cover;  
margin-top: 0px;  
position: fixed;  
opacity: 0.8;  
z-index: -1;  

}
.navigation-bar {  
  background-color: #2F2E2D;  
  overflow: hidden;  
  position: fixed;  
  top: 0;  
  left: 0;  
  width: 100%;  
  height: 7vh;
  z-index: 100;
}  
/* logo样式 */ 
.logo { 
  position: fixed;  
  top: 1.5vh;
  left: 1vw;
  width: 150px;
  height: 30px;
}  
/* 导航链接样式 */  
.navigation-bar a {   
  display: inline-block;  
  margin-left: 3%;  /* 调整按键之间的左侧距离 */  
  padding: 14px;  /* 调整按键的内边距 */  
  color: #f2f2f2;  
  text-align: center;  
  text-decoration: none;  
}  
/* 鼠标悬停在链接上时的样式 */  
.navigation-bar a:hover {  
  background-color: #ddd;  
  color: black;  
} 
#page1{
  position: fixed;
  top: 0;
  left: 10%;
} 
#page2{
  position: fixed;
  top: 0;
  left: 16%;
} 
#page3{
  position: fixed;
  top: 0;
  left: 22%;
} 
.search-photo{ 
  position: fixed;  
  top: 1%;
  left: 89%;
  height: 30px;
}
.line{ 
  position: fixed;  
  top: 1%;
  left: 92%;
  height: 30px;
}
.head-photo{ 
  position: fixed;  
  top: 1%;
  left: 93%;
  height: 30px;
}

#Rectangle{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 90vw;  
  height: 85vh;  
  background-color: #f2f2f2;  
  border: 1px solid #ddd;  
  text-align: center;  
  padding: 20px;    
}
.button1 {  
display: inline-block;  
padding: 10px 18px;    
color:black; /* 按钮的文本颜色 */  
text-decoration: none;  
border-radius: 4px; /* 按钮的圆角 */ 
position: absolute;
top: 3%;
left: 75%; 
}  
.button1:hover {  
background-color: #aab300; /* 鼠标悬停时的背景颜色 */  
}
.button2 {  
display: inline-block;  
padding: 10px 18px;    
color:black; /* 按钮的文本颜色 */  
text-decoration: none;  
border-radius: 4px; /* 按钮的圆角 */ 
position: absolute;
top: 3%;
left: 82%; 
}  
.button2:hover {  
background-color: #aab300; /* 鼠标悬停时的背景颜色 */  
}
.HorizontalLine {  
position: absolute; 
top: 8%;  /* 这些百分比可以根据您的需要进行调整 */  
width: 100%;  
left: 0;
text-align: center;
}   
.Text{
position: absolute;
top: 6%;
left: 3%;
font-size: 30px;
}
#Select{
position: absolute;
top: 11%;
left: 13%;
width: 80px;
background-color: #f2f2f2;
opacity: 0.8;
}
#Rectangle1{
position: absolute;
left: 3%;
top: 20%;
width: 25%;  
height: 70%;  
background-color: #f2f2f2;  
border: none;  
text-align: center;  
padding: 20px; 
opacity: 0.6;   
}
button{
width: 90%;
height: 10%;
display: flex;  
justify-content: space-between;
align-items: center;
background-color: #ffffff;
border: 2px solid #f2f2f2;  
cursor: pointer;
}
button span:first-child {  
align-self: center; 
font-size: 16px; 
}  
button span:last-child {  
align-self:center;
font-size: 16px;  
padding-left: 10px;  
}
#Rectangle2{
position: absolute;
left: 30%;
top: 11%;
width: 60%;  
height: 80%;  
background-color: #ffffff;  
border: 1px solid #ddd;  
text-align: center;  
padding: 20px; 
opacity: 0.6;   
} 
.SmallRectangle {  
width: 10%;      
height: 10%;      
background-color: #ffffff;      
border: none;      
display: flex; /* 设置矩形的显示方式为flex */  
flex-direction: column; /* 设置矩形的排列方式为列方向 */  
justify-content: center; /* 设置矩形的文字水平居中 */  
align-items: center; /* 设置矩形的文字垂直居中 */    
position: absolute;
}
.Rect1 {  
left: 2%;
top: 1%;  
}  
.Rect2 {  
left: 13%;
top: 1%;  
}  
.Rect3 {   
left: 24%;
top: 1%;  
}
.Up{
  position: absolute;
  text-align: center; 
  top: 1px;
}  
.Down
{
  position: absolute;
  text-align: center;
  top: 30px;
}
.Win{
position: absolute;
left: 5%;
top: 15%;
width: 80%;  
height: 30%;  
background-color: rgb(202, 202, 241);  
border: 1px solid #ddd;  
text-align: center;  
padding: 20px; 
opacity: 1;
}
.Win p{
position: absolute;
top: -10%;
left: 2%;
font-size: 30px
}
.Win table{
position: absolute;
top: 23%;
left: 2%;
width: 90%;
border: 1px solid black;
border-collapse: collapse;  /* 合并相邻的边框 */ 
}
.Win  table td{
color: black;
}
.Lose{
position: absolute;
left: 5%;
top: 55%;
width: 80%;  
height: 30%;  
background-color: rgba(235, 17, 17,0.7);
border: 1px solid #ddd;  
text-align: center;  
padding: 20px; 
opacity: 1;
}
.Lose p{
position: absolute;
top: -10%;
left: 2%;
font-size: 30px
}
.Lose table{
position: absolute;
top: 23%;
left: 2%;
width: 90%;
border: 1px solid black;
border-collapse: collapse;  /* 合并相邻的边框 */ 
}
.Lose  table td{
color: black;
}
