@font-face {
  font-family: "pixel";
  src: url("../fonts/点点像素体-方形.ttf") format("truetype");
}


body {
  font-family: 'pixel';
  font-weight: bold;
  margin: 0;
}

.LOGO {
  content: url("../images/LOGO.png");
}

.logo_container {
  text-align: center;
}

.logo_container a img {
  content: url("../images/LOGO.png");
  height: 40px;
}

#background {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}

.navbar {
  color: #2F2E2D;
  background-color: #2F2E2D;
  width: 100%;
  height: 10vh;
}

.navbar .LOGO {
  width: 250px;
  margin-top: calc(4vh - 20px);
  margin-left: 10px;
}

#return-to-login {
  text-decoration: none;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-family: 'pixel';
  font-weight: bold;
  margin-left: 3vw;
  margin-top: calc(5vh - 20px);
}

#return-to-login:hover {
  /* text-decoration: underline; */
  color: rgba(255, 255, 255, 1);
}

.container {
  margin-top: 40px;
  max-width: 400px;
  margin-left: 40%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(255 255 255 / 83%);
}

.container h2 {
  color: wheat;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 20px;

}

.form-group label {
  color: #2F2E2D;
  font-size: medium;
  font-family: 'pixel';
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  height: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'pixel';
  font-weight: bold;
  font-size: medium;
}

ul{
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;

}

.password-strength {
  margin-top: 10px;
  font-size: 12px;
  color: red;
}

/* #create-account {
  margin-bottom: 40px;
  font-size: 14px;

} */

#create-account {
  border-radius: 5px;
  /* margin-top: 15px; */
  background-color: #5d8727;
  color: white;
  opacity: 0.8;
  display: block;
  width: 100%;
  height: 50px;
  font-size: larger;
  font-family: 'pixel';
  font-weight: 500;
}

#create-account:hover {
  cursor: pointer;
  opacity: 1.0;
}

.verification {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 50px;
  width: 400px;

}

#get-captcha-btn {
  height: 40px;
  border-radius: 5px;
  background-color: #5d8727;
  color: white;
  border-color: #8b8a8a;
  font-family: 'pixel';
  font-weight: 500;
}

#get-captcha-btn:hover {
  cursor: pointer;
  opacity: 1.0;
  background-color: #557b24;
}

.empty {
  height: 20px;
}